
<div id="heroHolder">
	<h1 id="pageTitle">Saved Articles</h1>
	<h3 id="pageCaption">Your Saved Articles</h3>
</div>

<div id="mainContent">

		<ul id="articlesHolder">
		  {{#each articles}} 
			  	<li id="{{this._id}}" class="article" data-timestamp="{{this.date}}">
			  	  <img src="{{this.img}}" class="articleImg" alt="{{this.title}}">
			  	  <div class="articleCopy">
				  	  <a href="{{this.link}}" class="label" target="_blank">		
				  	  	<span>{{this.title}}</span>
				  	  </a>
				  	  <p>{{this.summary}}</p>			  	  	
			  	  </div>
				  <ul class="buttons">
				  	<li class="removeSaved button">Remove From Saved ></li>
				  	<li class="commentThis button">View/Add Comments ></li>
				  </ul>
			  	</li> 
		  {{else}}
		  	<li class="noRecords">Sorry, there are currently no records saved.</li>
		  {{/each}}
		</ul>	


</div>